@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');
:root {
  --light: 300; 
  --regular: 400;
  --medium: 500;
  --grey_navy: #626C7F; 
  --dark_navy: #313E51;
  --italic: 14px;
  --submit: #A729F5;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(221, 218, 206);
    color: var(--dark_navy);
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--light);
    font-style: normal;
}
header {
    display: flex;
    align-items: center; justify-content: start;
    margin: 26px 24px 58px 271px;
    gap: 8px;
} 
.truc {
    display: flex;
    align-items: center;
    gap: 16px;
    position: absolute; left: 24px;
    text-align: center;
}
main {
    padding: 0px 24px;
}
i {
    color: var(--grey_navy);
    font-size: var(--italic);
    font-weight: var(--regular);
} 
.question_html {
    margin-top: 40px;
}
.Question {
    display: flex;
    align-items: center; justify-content: start;
    background-color: #fff;
    padding-left: 12px;
    border: none;
    width: 327px;
    height: 64px;
    border-radius: 12px;
    gap: 16px;
}
button {
    display: flex;
    margin-bottom: 12px;
}
a {
    color: var(--dark_navy);
    text-decoration: none;
}
.submit {
    font-family: "Rubik", sans-serif;
    background-color: var(--submit);
    color: #fff;
    font-weight: var(--medium);
    border: none;
    font-size: 18px;
    width: 327px;
    height: 56px;
    padding: 16px 97.5px;
    border-radius: 12px;
    margin-bottom: 139px;
}
.submit:hover {
    background-color: rgb(167, 41, 245, 0.50);
}
.rectangle {
    height: 40px;
    width: 40px;
    background-color: #F6E7FF;
    border-radius: 6px;
}
.rectangle p {
    position: absolute; left: 50px; top: 225px;
    font-size: 18px;
    color: var(--grey_navy);
}
.Question p:hover {
    color: var(--submit);
}
.Question:active {
    border: solid 3px;
    border-color: var(--submit);
}
.rectangle:active, p:active {
    color: #fff;
    background-color: var(--submit);
}
.completed {
    width: 281px;
    font-size: 40px;
    margin-bottom: 40px;
}
.result  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 327px;
    height: 242px;
    background-color: #fff;
    border-radius: 12px;
    padding: 32px;
    gap: 16px;
    margin-bottom: 12px;
}
.result .chose {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}
.score {
    font-size: 88px;
    color: var(--dark_navy);
    font-weight: var(--medium);
}
.out {
    font-size: 18px;
    color: var(--grey_navy);
    font-weight: var(--regular);
}
.again {
    font-family: "Rubik", sans-serif;
    background-color: var(--submit);
    color: #fff;
    font-weight: var(--medium);
    border: none;
    font-size: 18px;
    width: 327px;
    height: 56px;
    padding: 19px 118px;
    border-radius: 12px;
    margin-bottom: 139px;
}